@page "projects"
@model TaskMaster.Web.Pages.Project.GetProjectsModel

<div class="row justify-content-start my-5">
    <div class="col-3">
        <button data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-secondary btn-sm text-end mx-2"><i class="fa-solid fa-square-plus"></i></button>
    </div>
</div>



<!--Creating-->

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">New Project</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col">
                        <form method="post">
                            <div class="col-12 form-group">
                                <span>Title</span>
                                <input asp-for="CreateProject.Name" type="text" class="form-control">
                            </div>

                            <div class="col-12 form-group">
                                <span> Description</span>
                                <input asp-for="CreateProject.Description" type="text" class="form-control">
                            </div>
                            <div class="col-12 form-group">
                                <span> Repo</span>
                                <input asp-for="CreateProject.Repo" type="text" class="form-control">
                            </div>
                            <div class="col-12 form-group">
                                <span>Story</span>
                                <textarea class="form-control" asp-for="CreateProject.Story" rows="3"></textarea>
                            </div>
                            <div class="col-12 form-group">
                                    <span> Status</span>
                                    <select asp-for="CreateProject.ProjectStatus" asp-items="Html.GetEnumSelectList<TaskMaster.Shared.Dtos.ProjectDtos.StatusDto>()" class="form-control form-select">
                                        <option value="">Choose..</option>
                                    </select>
                            </div>

                            <div class="col-12 d-inline-flex">
                                <div class="col-4 form-group">
                                    <span> Starting</span>
                                    <input type="date" class="form-control" asp-for="CreateProject.StartingDate">
                                </div>
                                <div class="col-4 form-group">
                                    <span> Duration</span>
                                    <input type="text" class="form-control" asp-for="CreateProject.Duration">
                                </div>
                                <div class="col-4 form-group">
                                    <span> Finished</span>
                                    <input type="date" class="form-control" asp-for="CreateProject.FinishedDate">
                                </div>
                            </div>
                            <div class="col-12 form-group">
                                <span> Explation</span>
                                <textarea class="form-control" asp-for="CreateProject.StatusExplation" rows="3"></textarea>
                            </div>
                            <div class="col-12 form-group my-3">

                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary"><i class="fa-solid fa-floppy-disk"></i> Save</button>

                            </div>
                        </form>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>


<!--Reading-->

<div class="row">
    @foreach (var item in Model.Projects)
    {
        <div class="col-4">
            <div class="card p-2">
                <div class="card-title text-center fw-bold text-success">@item.Name</div>
                <p>@item.Description</p>
                <span class="text-bg-light text-primary">Starting: </span><span>@item.StartingDate!.Value.ToShortDateString()</span>
                <span class="text-bg-light text-primary">Duration: </span><span>@item.Duration day</span>
                <span class="text-bg-light text-primary">Ending: </span><span>@item.EndingDate!.Value.ToShortDateString()</span>
                <hr />
                <div class="btn-group my-2 p-1 m-2">
                    <a target="_blank" href="@item.Repo" class="btn btn-light"><i class="fa-brands fa-github"></i></a>
                    <a asp-page="/ProjectTask/GetProjectTasks" asp-route-id="@item.Id" class="btn btn-info"><i class="fa-solid fa-clipboard-check text-black"></i></a>
                    <a asp-page="/ProjectIssue/GetProjectIssues" asp-route-id="@item.Id" class="btn btn-primary"><i class="fa-regular fa-eye text-black"></i></a>
                </div>
                <hr />
                <div class="btn-group my-2 p-1 m-2">
                    <a asp-page="/Project/UpdateProject" asp-route-id="@item.Id" class="btn btn-warning"><i class="fa-solid fa-pen-to-square text-black"></i></a>
                    <a asp-page="/Project/DeleteProject" asp-route-id="@item.Id" class="btn btn-danger"><i class="fa-solid fa-trash text-black mx-1"></i></a>
                    <a asp-page="/Project/GetProjectDetails" asp-route-id="@item.Id" class="btn btn-secondary"><i class="fa-solid fa-circle-info text-black"></i></a>
                </div>

            </div>

        </div>
    }

</div>



