@page "/project-issues"
@model TaskMaster.Web.Pages.ProjectIssue.GetProjectIssues

<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" rel="stylesheet" />


<div class="row my-5">
    <div class="display-6 text-primary text-center">@Model.ProjectName's Issues</div>
</div>

<div class="row justify-content-start">
    <div class="col-3">
        <button data-bs-toggle="modal" data-bs-target="#createIssueModal" class="btn btn-primary btn-sm text-end mx-2"><i class="fa-solid fa-square-plus"></i></button>
        <a asp-page="/Project/GetProjects" class="btn btn-warning btn-sm"><i class="fa-solid fa-backward"></i><span> Back</span></a>
    </div>
</div>




<!--Reading-->

<div class="row my-4">
    <div class="text-center">
        <span class="fw-bold">Priority: </span>
        <span class="badge badge-pill badge-danger">High</span>
        <span class="badge badge-pill badge-warning">Medium</span>
        <span class="badge badge-pill badge-success">Low</span>
    </div>
</div>


<div class="row d-flex mx-1">
    <div class="col">
        <div class="text-center text-bg-secondary text-white my-1 fw-bold">Unresolved</div>
        <hr />

        @foreach (var item in Model.Issues)
        {

            @if (item.ResolutionStatus == Core.Enums.ResolutionStatus.Unresolved.ToString())
            {
                <div class="card col my-2">
                    <div class="card-body">
                        @if (item.PriorityLevel == Core.Enums.PriorityLevel.High.ToString())
                        {
                            <span class="badge badge-pill badge-danger">   </span>
                        }
                        else if (item.PriorityLevel == Core.Enums.PriorityLevel.Low.ToString())
                        {
                            <span class="badge badge-pill badge-success">   </span>
                        }
                        else
                        {
                            <span class="badge badge-pill badge-warning">   </span>
                        }
                        <p class="card-title">@item.Summary</p>
                        <hr />
                        <a asp-page="/ProjectIssue/UpdateIssue" asp-route-id="@item.Id" class="btn btn-warning btn-sm"><i class="fa-solid fa-pen-to-square text-black"></i></a>
                        <a asp-page="/ProjectIssue/DeleteIssue" asp-route-id="@item.Id" class="btn btn-danger btn-sm"><i class="fa-solid fa-trash text-black"></i></a>
                        <hr />
                        <form method="post">
                            <input type="hidden" name="issueStatus" value="Fixed" />
                            <div class="accordion" id="accordionExample">
                                <div class="accordion-item">
                                    <div class="accordion-header">
                                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                            Comment
                                        </button>
                                    </div>
                                    <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            <textarea class="form-control my-1" name="comment" rows="2"></textarea>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary btn-sm d-inline-flex my-2" asp-route-issueId="@item.Id" asp-page-handler="UpdateIssueStatus">
                                <i class="fa-solid fa-arrow-right"></i>
                            </button>
                        </form>

                    </div>
                </div>
            }

        }
    </div>
    <div class="col">
        <div class="text-center text-bg-secondary text-white my-1 fw-bold">Fixed</div>
        <hr />
        @foreach (var item in Model.Issues)
        {
            @if (item.ResolutionStatus == Core.Enums.ResolutionStatus.Fixed.ToString())
            {
                <div class="card col my-2">
                    <div class="card-body">
                        @if (item.PriorityLevel == Core.Enums.PriorityLevel.High.ToString())
                        {
                            <span class="badge badge-pill badge-danger">   </span>
                        }
                        else if (item.PriorityLevel == Core.Enums.PriorityLevel.Low.ToString())
                        {
                            <span class="badge badge-pill badge-success">   </span>
                        }
                        else
                        {
                            <span class="badge badge-pill badge-warning">   </span>
                        }
                        <p class="card-title">@item.Summary</p>
                        <hr />
                        <a asp-page="/ProjectIssue/UpdateIssue" asp-route-id="@item.Id" class="btn btn-warning btn-sm"><i class="fa-solid fa-pen-to-square text-black"></i></a>
                        <a asp-page="/ProjectIssue/DeleteIssue" asp-route-id="@item.Id" class="btn btn-danger btn-sm"><i class="fa-solid fa-trash text-black"></i></a>
                        <hr />
                        <form method="post">
                            <input type="hidden" name="issueStatus" value="Unresolved" />
                            <div class="accordion" id="accordionExample">
                                <div class="accordion-item">
                                    <div class="accordion-header">
                                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                            Comment
                                        </button>
                                    </div>
                                    <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            <textarea class="form-control my-1" name="comment" rows="2"></textarea>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <button type="submit" class="btn btn-warning btn-sm d-inline-flex my-2" asp-route-issueId="@item.Id" asp-page-handler="UpdateIssueStatus">
                                <i class="fa-solid fa-arrow-left"></i>
                            </button>
                        </form>
                    </div>
                </div>
            }

        }
    </div>
</div>

<!--Create-->

<div class="modal fade" id="createIssueModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">New Issue</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col">
                        <form method="post">
                            <input type="hidden" asp-for="CreateIssue.ProjectId" />

                            <div class="col-12 form-group">
                                <span> Summary</span>
                                <input asp-for="CreateIssue.Summary" type="text" class="form-control">
                            </div>

                            <div class="col-12 d-inline-flex">
                                <div class="col-6 form-group">
                                    <span> Status</span>
                                    <select asp-for="CreateIssue.PriorityLevel" asp-items="Html.GetEnumSelectList<TaskMaster.Shared.Dtos.TaskDtos.PriorityLevelDto>()" class="form-control form-select">
                                        <option value="">Choose..</option>
                                    </select>
                                </div>
                                <div class="col-6 form-group">
                                    <span> Starting</span>
                                    <input type="date" class="form-control" asp-for="CreateIssue.StartingDate">
                                </div>
                            </div>


                            <div class="col-12 form-group">
                                <span> Comment</span>
                                <textarea class="form-control" asp-for="CreateIssue.Comment" rows="3"></textarea>
                            </div>
                            <div class="col-12 form-group">

                                <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary"><i class="fa-solid fa-floppy-disk"></i> Save</button>

                            </div>
                        </form>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

