@page "project-tasks"
@model TaskMaster.Web.Pages.ProjectTask.GetProjectTasksModel

<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" rel="stylesheet" />


<div class="row my-5">
    <div class="display-6 text-primary text-center">@Model.ProjectName's Tasks</div>
</div>

<div class="row justify-content-start">
    <div class="col-3">
        <button data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-primary btn-sm text-end mx-2"><i class="fa-solid fa-square-plus"></i></button>
        <a asp-page="/Project/GetProjects" class="btn btn-warning btn-sm"><i class="fa-solid fa-backward"></i><span> Back</span></a>
    </div>
</div>


<!--Creating-->

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">New Task</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col">
                        <form method="post">
                            <input type="hidden" asp-for="CreateTask.ProjectId" />

                            <div class="col-12 form-group">
                                <span> Title</span>
                                <input asp-for="CreateTask.Title" type="text" class="form-control">
                            </div>

                            <div class="col-12 form-group">
                                <span> Description</span>
                                <textarea class="form-control" asp-for="CreateTask.Description" rows="2"></textarea>
                            </div>
                            <div class="col-12 d-inline-flex">
                                <div class="col-6 form-group">
                                    <span> Status</span>
                                    <select asp-for="CreateTask.TaskStatus" asp-items="Html.GetEnumSelectList<TaskMaster.Shared.Dtos.TaskDtos.TaskStatusDto>()" class="form-control form-select">
                                        <option value="">Choose..</option>
                                    </select>
                                </div>
                                <div class="col-6 form-group">
                                    <span> Priority</span>
                                    <select asp-for="CreateTask.PriorityLevel" asp-items="Html.GetEnumSelectList<TaskMaster.Shared.Dtos.TaskDtos.PriorityLevelDto>()" class="form-control form-select">
                                        <option value="">Choose..</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-12 d-inline-flex">
                                <div class="col-4 form-group">
                                    <span> Starting</span>
                                    <input type="date" class="form-control" asp-for="CreateTask.StartingDate">
                                </div>
                                <div class="col-4 form-group">
                                    <span> Duration</span>
                                    <input type="text" class="form-control" asp-for="CreateTask.Duration">
                                </div>
                                <div class="col-4 form-group">
                                    <span> Finished</span>
                                    <input type="date" class="form-control" asp-for="CreateTask.FinishedDate">
                                </div>
                            </div>
                            <div class="col-12 form-group">

                                <span> Comment</span>
                                <textarea class="form-control" asp-for="CreateTask.Comment" rows="3"></textarea>

                            </div>
                            <div class="col-12 form-group">

                                <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary"><i class="fa-solid fa-floppy-disk"></i> Save</button>

                            </div>
                        </form>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

<!--Reading-->

<div class="row my-4">
    <div class="text-center">
        <span class="fw-bold">Priority: </span>
        <span class="badge badge-pill badge-danger">High</span>
        <span class="badge badge-pill badge-warning">Medium</span>
        <span class="badge badge-pill badge-success">Low</span>
    </div>
</div>

<div class="row d-flex mx-1">
    <div class="col">
        <div class="text-center text-bg-secondary text-white my-1 fw-bold">ToDo</div>
        <hr />

        @foreach (var item in Model.Tasks)
        {

            @if (item.TaskStatus == Core.Enums.ProjectTaskStatus.ToDo.ToString())
            {
                <div class="card col my-2">
                    <div class="card-body">
                        @if (item.PriorityLevel == Core.Enums.PriorityLevel.High.ToString())
                        {
                            <span class="badge badge-pill badge-danger">   </span>
                        }
                        else if (item.PriorityLevel == Core.Enums.PriorityLevel.Low.ToString())
                        {
                            <span class="badge badge-pill badge-success">   </span>
                        }
                        else
                        {
                            <span class="badge badge-pill badge-warning">   </span>
                        }
                        <h5 class="card-title">@item.Title</h5>
                        <h6 class="card-subtitle mb-2 text-muted">@item.Description</h6>
                        <hr />
                        <a asp-page="/ProjectTask/UpdateTask" asp-route-id="@item.Id" class="btn btn-warning btn-sm"><i class="fa-solid fa-pen-to-square text-black"></i></a>
                        <a asp-page="/ProjectTask/DeleteTask" asp-route-id="@item.Id" class="btn btn-danger btn-sm"><i class="fa-solid fa-trash text-black"></i></a>
                        <hr />
                        <form method="post">
                            <input type="hidden" name="taskStatus" value="Progress" />
                            <button type="submit" class="btn btn-primary btn-sm d-inline-flex" asp-route-taskId="@item.Id" asp-page-handler="UpdateTaskStatus">
                                <i class="fa-solid fa-arrow-right"></i>
                            </button>
                        </form>

                    </div>
                </div>
            }

        }
    </div>
    <div class="col">
        <div class="text-center text-bg-secondary text-white my-1 fw-bold">Progress</div>
        <hr />
        @foreach (var item in Model.Tasks)
        {
            @if (item.TaskStatus == Core.Enums.ProjectTaskStatus.Progress.ToString())
            {
                <div class="card col my-2">
                    <div class="card-body">
                        @if (item.PriorityLevel == Core.Enums.PriorityLevel.High.ToString())
                        {
                            <span class="badge badge-pill badge-danger">   </span>
                        }
                        else if (item.PriorityLevel == Core.Enums.PriorityLevel.Low.ToString())
                        {
                            <span class="badge badge-pill badge-success">   </span>
                        }
                        else
                        {
                            <span class="badge badge-pill badge-warning">   </span>
                        }
                        <h5 class="card-title">@item.Title</h5>
                        <h6 class="card-subtitle mb-2 text-muted">@item.Description</h6>
                        <hr />
                        <a asp-page="/ProjectTask/UpdateTask" asp-route-id="@item.Id" class="btn btn-warning btn-sm"><i class="fa-solid fa-pen-to-square text-black"></i></a>
                        <a asp-page="/ProjectTask/DeleteTask" asp-route-id="@item.Id" class="btn btn-danger btn-sm"><i class="fa-solid fa-trash text-black"></i></a>
                        <hr />
                        <form method="post">
                            <input type="hidden" name="taskStatus" value="ToDo" />
                            <button type="submit" class="btn btn-warning btn-sm d-inline-flex" asp-route-taskId="@item.Id" asp-page-handler="UpdateTaskStatus">
                                <i class="fa-solid fa-arrow-left"></i>
                            </button>
                        </form>
                        <form method="post">
                            <input type="hidden" name="taskStatus" value="Review" />
                            <button type="submit" class="btn btn-primary btn-sm d-inline-flex" asp-route-taskId="@item.Id" asp-page-handler="UpdateTaskStatus">
                                <i class="fa-solid fa-arrow-right"></i>
                            </button>
                        </form>

                    </div>
                </div>
            }

        }
    </div>
    <div class="col">
        <div class="text-center text-bg-secondary text-white my-1 fw-bold">Review</div>

        <hr />
        @foreach (var item in Model.Tasks)
        {

            @if (item.TaskStatus == Core.Enums.ProjectTaskStatus.Review.ToString())
            {
                <div class="card col my-2">
                    <div class="card-body">
                        @if (item.PriorityLevel == Core.Enums.PriorityLevel.High.ToString())
                        {
                            <span class="badge badge-pill badge-danger">   </span>
                        }
                        else if (item.PriorityLevel == Core.Enums.PriorityLevel.Low.ToString())
                        {
                            <span class="badge badge-pill badge-success">   </span>
                        }
                        else
                        {
                            <span class="badge badge-pill badge-warning">   </span>
                        }
                        <h5 class="card-title">@item.Title</h5>
                        <h6 class="card-subtitle mb-2 text-muted">@item.Description</h6>
                        <hr />
                        <a asp-page="/ProjectTask/UpdateTask" asp-route-id="@item.Id" class="btn btn-warning btn-sm"><i class="fa-solid fa-pen-to-square text-black"></i></a>
                        <a asp-page="/ProjectTask/DeleteTask" asp-route-id="@item.Id" class="btn btn-danger btn-sm"><i class="fa-solid fa-trash text-black"></i></a>
                        <hr />
                        <form method="post">
                            <input type="hidden" name="taskStatus" value="Progress" />

                            <button type="submit" class="btn btn-warning btn-sm d-inline-flex" asp-route-taskId="@item.Id" asp-page-handler="UpdateTaskStatus">
                                <i class="fa-solid fa-arrow-left"></i>
                            </button>
                        </form>
                        <form method="post">
                            <input type="hidden" name="taskStatus" value="Done" />
                            <button type="submit" class="btn btn-primary btn-sm d-inline-flex" asp-route-taskId="@item.Id" asp-page-handler="UpdateTaskStatus">
                                <i class="fa-solid fa-arrow-right"></i>
                            </button>
                        </form>
                    </div>
                </div>
            }
        }
    </div>
    <div class="col">
        <div class="text-center text-bg-secondary text-white my-1 fw-bold">Done</div>
        <hr />
        @foreach (var item in Model.Tasks)
        {
            @if (item.TaskStatus == Core.Enums.ProjectTaskStatus.Done.ToString())
            {
                <div class="card col my-2">

                    <div class="card-body">
                        @if (item.PriorityLevel == Core.Enums.PriorityLevel.High.ToString())
                        {
                            <span class="badge badge-pill badge-danger">   </span>
                        }
                        else if (item.PriorityLevel == Core.Enums.PriorityLevel.Low.ToString())
                        {
                            <span class="badge badge-pill badge-success">   </span>
                        }
                        else
                        {
                            <span class="badge badge-pill badge-warning">   </span>
                        }
                        <h5 class="card-title">@item.Title</h5>
                        <h6 class="card-subtitle mb-2 text-muted">@item.Description</h6>
                        <hr />
                        <a asp-page="/ProjectTask/UpdateTask" asp-route-id="@item.Id" class="btn btn-warning btn-sm"><i class="fa-solid fa-pen-to-square text-black"></i></a>
                        <a asp-page="/ProjectTask/DeleteTask" asp-route-id="@item.Id" class="btn btn-danger btn-sm"><i class="fa-solid fa-trash text-black"></i></a>
                        <hr />
                        <form method="post">
                            <input type="hidden" name="taskStatus" value="Review" />
                            <button type="submit" class="btn btn-warning btn-sm d-inline-flex" asp-route-taskId="@item.Id" asp-page-handler="UpdateTaskStatus">
                                <i class="fa-solid fa-arrow-left"></i>
                            </button>
                        </form>
                    </div>
                </div>
            }

        }
    </div>
</div>


